<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Canvas Files</title>
	
	<style>
		canvas {
			border: 1px solid black;
		}	
	</style>
	
	<script>
// Access rendering context
		function init() {
	
// Get Context
			var ctx = document.getElemntById('canvas').getContext('2d'):

// Define gradient filled rectangle				
				
				// Draw Shape 
				// Draw a filled Rectangle 
				
								
				
				
				ctx.beginPath();
			
			// Draw a filled circle
			
			ctx.arc(450, 150, 100, 0, Math.PI*2, true);
			ctx.closePath();
				ctx.fillStyle - "rgb(0,225,0)";
			ctx.fill(););
			// Ends the drawing 
			ctx.closePath();
			// Set Area color 
			ctx.fillStyle = "rgb(225, 0 0)";
			// Draw shape and shape area  
			ctx.fill();
			
}

	</script>
</head>
<body>
	<canvas id="canvas" width="600" height="450"></canvas>
	<br />
	<button type='button' onclick='init();'>Draw</button>

</body>
</html>