<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>xxxxxxxxxxxxxxx</title>
	<link rel="stylesheet" href="css/main.css" />

</head>

<body>
	<header>
		<hgroup>
			<h1>xxxxxxxxxxxxxx</h1>
			<h2>xxxxxxxxxxxxxxxxxx</h2>
		</hgroup>
		
		<nav>
			<a href="multimedia_column.html">Layout</a>
			<a href="table.html">Tables</a>
			<a href="images.html">Graphics</a>
			<a href="video.html">Multimedia</a>
			<a href="static_form.html">Forms</a>
			<a href="product.php">Products</a>
			<a href="geolocation.html">Stuff</a>
		</nav>
		
		
	</header>
	
	<script>
		var a;  // declaring a variable 
		a = 10;  // setting an initial value 
		a = 'homer';  //setting a new value 
		a = 'homer';  //setting a new value 
		document.write('<p>this is a ' + typeof a+'.</p>');')
	</script>
	

	
	<footer>
		<p>&copy; xxxxxxxxxxxxxxx</p>
	</footer>
	
</body>

</html>
